.flex{
    display: flex;
}
.items-center{
align-items: center;

}
.justify-items{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.uppercase{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.semibold{
    font-weight: bolder;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
nav{
    font-size: 12px;
}
.mv-2{
    margin: 0 3vw;
    padding: 12px 5px;
    text-align: center;


}